@model ICollection<DishViewModel>
<h1>Ecco la lista dei Piatti</h1>
<br />
@if (User.IsInRole("Administrator"))
{
    <a type=button class="btn btn-primary" asp-controller="Dish" asp-action="Create">Inserisci nuovo piatto!</a>
}

<table class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrizione</th>
            <th>Tipologia</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Type</td>
                <a class="btn btn-primary" asp-controller="Dish" asp-action="Details" asp-route-id="@item.Id">Visualizza dettagli</a>
                @if (User.IsInRole("Administrator"))
                {
                    <td>

                        <a class="btn btn-primary" asp-controller="Dish" asp-action="Edit" asp-route-id="@item.Id">Modifica Email</a>
                        <a class="btn btn-danger" asp-controller="Dish" asp-action="Delete" asp-route-id="@item.Id">Elimina</a>
                    </td>
                }

            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Totale</th>
            <th>@Model.Count</th>
            <th></th>
        </tr>
    </tfoot>
</table>