@model MenuViewModel
<h1>Ecco i dettagli del Menu @Model.Name</h1>

<a class="btn btn-primary" asp-controller="Menu" asp-action="Index">Indietro</a>
<table class="table table-hover table-bordered table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Tipologia</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Dishes)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Type</td>
                <th>
                    <a asp-controller="Dishes" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Visualizza Dettagli</a>
                </th>
            </tr>
        }
    </tbody>
    <tfoot>
            <tr>
            <th>Totale</th>
            <th>@Model.Total</th>
            <th></th>
        </tr>                
    </tfoot>
</table>
